$color-main-bg: #F3F4F9;
$color-black: #1a1a1a;
$color-white: #ffffff;
$color-primary: #1952E1;
$color-primary-dark: #1649CA;
$color-deep-dark: #2E3E6E;
$color-gray: #9A9DA4;
$color-gray-dark: #63666E;
$color-gray-light: #E2E4EA;